    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Somos una compañía especializada en la fabricación de calderas con gran eficiencia y tecnología"
        name="description" />
    <meta content="Lenier Villalba" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <!--Material Icon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialdesignicons.min.css') }}" type="text/css" />
    <!-- Custom  sCss -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />